@import '../../../styles/variables';

.container {
  display: flex;

  align-items: center;
  flex-direction: column;
  gap: 40px;

  width: 100%;

  @media screen and (min-width: $tablet) {
    align-items: stretch;

    flex-direction: row;
    gap: 32px;
  }

  @media screen and (min-width: $desktop) {
    gap: 40px;
  }
}
// .addImageGroup {
//   display: flex;
//   flex-direction: column;
//   gap: 40px;
// }

.fieldsGroup {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 34px;

  @media screen and (min-width: $tablet) {
    width: 352px;
    gap: 40px;
  }

  @media screen and (min-width: $tablet) {
    width: 393px;
  }
}

.field::placeholder {
  color: #f3f3f3;
  font-size: $input-placeholder;
  font-weight: $regular;
  letter-spacing: -0.32px;
}

input,
textarea,
select {
  background-color: $dark-blue;
  border: none;
}

input[type='file'] {
  height: 0;
  padding: 0;
  opacity: 0;
}

.dropdown {
  // margin-bottom: 10px;
  // margin-top: 10px;

  background: $dark-blue;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: $drop-down-radius;
}

.error {
  color: $error;
}
