@import '../../../styles/variables';

.test {
  width: 100%;
  height: calc($input-placeholder + $paragraph);

  padding-bottom: 0;
  border: none;
  border-bottom: 1px solid $accent-faded-50;

  background-color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.addImageGroup {
  // display: flex;
  // flex-direction: column;
  // gap: 40px;
}

.fieldsGroup {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media screen and (min-width: $mobile) {
    max-width: $mobile;
  }

  gap: 34px;
  @media screen and (min-width: $tablet) {
    gap: 40px;
  }
}

.field::placeholder {
  color: #f3f3f3;
  font-size: $input-placeholder;
  font-weight: $regular;
  letter-spacing: -0.32px;
}

input,
textarea,
select {
  background-color: $dark-blue;
  border: none;
}

input[type='file'] {
  height: 0;
  padding: 0;
  opacity: 0;
}

.dropdown {
  // margin-bottom: 10px;
  // margin-top: 10px;

  background: $dark-blue;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: $drop-down-radius;
}

.error {
  color: $error;
}
