.backdrop {
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.4);

    // opacity: 1;
    // cursor: pointer;
    // z-index: 20000;
    padding: 94px 15px;
    // overflow-y: scroll;
    // overscroll-behavior: none;


    // &.is-hidden {
    //     visibility: hidden;
    //     opacity: 0;
    //     pointer-events: none;
    // }
}


.modal {
    position: absolute;
    top: 0;
    right: 50px;
    width: 177px;
    height: 134px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #161F37;

    // color: var(--text-color);
    // border: 2px solid var(--modal-border-color);
    border-radius: 16px;

    animation: dropDown 1s linear 250ms 1 normal forwards;

    // animation: normal 3s linear forwards 1 reverse both paused dropDown;

    @keyframes dropDown {
        from {
            opacity: 0;
            transform: translateY(-100%);
        }

        50% {
            opacity: 0;
            transform: translateY(0);
        }

        to {
            transform: translateY(84px);
            opacity: 1;
        }
    }
}



.closeModal {
    margin-left: auto;
    padding-top: 18px;
    padding-right: 18px;
}

.avatarConteiner {
    position: relative;
}

.addPhoto {
    position: absolute;
    left: 50%;

    transform: translate(-50%, -50%);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.field {
    margin-bottom: 14px;
    padding: 14px 0 15px 24px;
    border-radius: 200px;
    border: 1px solid rgba(243, 243, 243, 0.20);
    opacity: 0.8;
    color: #F3F3F3;
    font-weight: 400;
    background-color: inherit;
}

.btnConteiner {
    display: flex;
    flex-direction: column;
}

.edit {
    position: relative;
    height: 14px;
    margin: 18px 18px 38px 18px;
    background-color: inherit;
    border-width: 0;
    color: #F3F3F3;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;

    &:hover .edit_swg {
        transform: translateX(127px);
    }
}

.edit_swg {
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.btn {
    border-radius: 42px;
    margin-left: auto;
    margin-right: auto;
    background: #F3F3F3;
    color: #161F37;
    font-weight: 600;
    border-width: 0;

    @media screen and (min-width: $mobile) {
        width: 141px;
        padding: 12px 45px;
        font-size: 14px;
        line-height: 1.28;
    }

    @media screen and (min-width: $tablet) {
        width: 141px;
        padding: 12px 45px;
        font-size: 14px;
        line-height: 1.28;
    }
}