@import '../../../styles/variables';

.error {
  color: $error;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.headingAndButtonsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counterWrapper {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;

  border: 1px solid rgba($accent, 0.5);
  border-radius: 200px;
  padding: 10px 16px;
}

.counterButton {
  background-color: transparent;
  border: none;
  color: $accent;

  &::disabled {
    color: rgba($accent, 0.3);
  }
}

.ingredientsWrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.ingredientsItem {
  display: flex;
  gap: 8px;
  align-items: center;
}

.ingredient {
  flex-grow: 1;
}

.measure {
}

.removeIngredientButton {
  background-color: transparent;
  border: none;
  color: $accent;

  &::disabled {
    color: rgba($accent, 0.3);
  }
}

.ingredientLabel {
  display: flex;
  flex-direction: column;

  gap: 4px;
  // justify-content: space-between;
}
