@import 'src/styles/variables';

.container {
  display: flex;
  flex-direction: column;

  gap: 40px;
  width: 100%;

  @media screen and (min-width: $desktop) {
    width: 640px;
  }
}

.titleAndCounter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredientsWrapper {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: calc($tablet - 1px)) {
    gap: 2rem;
  }

  gap: 18px;
}
