@import '../../../styles/variables';

.error {
  color: $error;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.headingAndButtonsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counterWrapper {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.ingredientsWrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.ingredientsItem {
  display: flex;
  gap: 8px;
  align-items: center;
}

.ingredient {
  flex-grow: 1;
}

.measure {
}

.ingredientLabel {
  display: flex;
  flex-direction: column;

  gap: 4px;
  // justify-content: space-between;
}
