@import "../../styles/variables";

.button {
  padding: 14px 40px;

  @media screen and (min-width: $tablet) {
    padding: 18px 44px;
  }

  font-size: $paragraph;
  font-weight: 600;

  border-radius: $button-radius;

  color: $accent;

  $bg: $dark-blue;
  background-color: $bg;
  border: 1px solid $bg;

  &:hover,
  &:focus-visible {
    color: $dark-blue;
    background-color: $accent;
  }

  &:active {
    background-color: $slate-blue;
  }

  &:disabled {
    color: $accent-faded-20;
    background-color: $dark-blue-faded;
  }
}

.button.accented {
  color: $dark-blue;

  $bg: $accent;
  background-color: $bg;
  border: 2px solid $bg;

  &:hover,
  &:focus-visible {
    color: $accent;

    $bg: $dark-blue;
    background-color: $bg;
    border-color: $bg;
  }

  &:active {
    background-color: $bg;
    border-color: $blue-faded;
  }

  &:disabled {
    color: $accent-faded-20;
    background-color: rgba(silver, 0.2);
    border-color: $accent-faded-50;
  }
}

.button.transparent {
  color: $accent;
  background-color: transparent;
  border: 1px solid $accent-faded-20;

  &:hover,
  &:focus-visible {
    $bg: $slate-blue;
    background-color: $bg;
    border-color: $bg;
  }

  &:active {
    color: $dark-blue;

    $bg: $accent;
    background-color: $bg;
    border-color: $bg;
  }
}

.button.cancel {
  background-color: $slate-blue;

  &:hover,
  &:focus-visible {
    color: $dark-blue;

    $bg: $accent;
    background-color: $bg;
    border-color: $bg;
  }

  &:active {
    $bg: $dark-blue;
    background-color: $bg;
    border-color: $bg;
  }
}

.button.icon {
  border-radius: 50%;
  padding: 15px;
}

.heroBtn {
  margin-top: 32px;
  margin-bottom: 358px;
  @media screen and (min-width: $tablet) {
    margin-top: 40px;
    margin-bottom: 379px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 236px;
  }
}

.otherDrinksBtn {
  margin-top: 60px;
  @media screen and (min-width: $tablet) {
    margin-top: 80px;
  }
}
