@import "../../styles/variables";

.indr_title {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
        
    color: $accent-faded-50;
}

.indr_list {
    display: flex;
    gap: 35px;
}

.ingr_item {
    width: 220px;
    height: 220px;
    padding: 31px 32px;

    border-radius: 8px;
    background: rgba(22, 31, 55, 0.50);
}

.ingr_text {
    display: flex;
    // margin-top: 46px;
    margin-left: auto;
    width: 220px;
    
    justify-content: space-between;
    

}
.ingr_name{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;

    color: $accent;
        
}
.ingr_measure {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;

    color: $accent-faded-50;
        
}
.img {
    margin-bottom: 46px;
}