.conteiner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background-size: contain;
    background-repeat: no-repeat, no-repeat;

    @media screen and (max-width: $mobile) {
        background-image: url(/startBgMobile.jpg);
        align-items: center;
        background-position: center;
        background-size: cover;
    }

    @media screen and (min-width: $mobile) {
        background-image: url(/startBgTablet.jpg);
        background-position: center;
        background-size: cover;
    }

    @media screen and (min-width: $tablet) {
        background-image:
            linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%),
            url(/startBgTablet.jpg);
        background-position: calc(100vw - 616px), right center;
        background-size: 300px, auto;
    }

    @media screen and (min-width: $desktop) {
        background-image:
            linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%),
            url(/startBg.jpg);
        background-position: calc(40vw - 0px), right center;
        background-size: 500px, 45vw 100vh;
    }
}

.title {
    color: #F3F3F3;
    margin-bottom: 28px;
    font-weight: 600;


    @media screen and (min-width: $mobile) {
        font-size: 28px;
        line-height: 1.14;
        letter-spacing: -0.56px;
    }

    @media screen and (min-width: $tablet) {
        font-size: 40px;
        line-height: 1.1;
        letter-spacing: -0.8px;
    }
}


.form_conteiner {
    @media screen and (min-width: $mobile) {
        padding: 240px 20px 207px 20px;
    }

    @media screen and (min-width: $tablet) {
        padding: 331px 0 331px 64px;
    }

    @media screen and (min-width: $desktop) {
        padding: 204px 0 172px 100px;
    }
}


.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media screen and (min-width: $mobile) {
        width: 335px;
    }

    @media screen and (min-width: $tablet) {
        width: 400px;
    }
}

.field {
    margin-bottom: 14px;
    padding: 14px 0 15px 24px;
    border-radius: 200px;
    border: 1px solid rgba(243, 243, 243, 0.20);
    opacity: 0.8;
    color: #F3F3F3;
    font-weight: 400;
    background-color: inherit;

    @media screen and (min-width: $mobile) {
        width: 335px;
        height: 54px;
        font-size: 14px;
        line-height: 1.28;
    }

    @media screen and (min-width: $tablet) {
        width: 400px;
        height: 56px;
        font-size: 17px;
        line-height: 1.56;
    }

    &.last_field {
        margin-bottom: 0;
    }


    &::placeholder {
        color: rgba(243, 243, 243, 0.50);

    }

    &:focus {
        outline: none;
        border: 1px solid rgba(243, 243, 243, 0.50);
    }

    &:focus::placeholder {
        color: #F3F3F3;
    }

    &.valid_border {
        border-color: green;
        outline: none;
        background-color: transparent;
    }

    &.invalid_border {
        border-color: red;
        outline: none;
        background-color: transparent;
    }
}


.btn {
    width: 100%;
    height: 54px;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease 0s;

    border-radius: 42px;
    margin-top: 40px;
    margin-bottom: 14px;
    background: #F3F3F3;
    color: #161F37;
    font-weight: 600;

    @media screen and (min-width: $mobile) {
        // width: 335px;
        padding: 18px 140px;
        font-size: 14px;
        line-height: 1.28;
    }

    @media screen and (min-width: $tablet) {
        // width: 400px;
        padding: 18px 169px;
        font-size: 16px;
        line-height: 1.12;
    }

    &:hover {
        text-decoration: underline;
        box-shadow: rgba(245, 245, 23, 0.87) 1px 0px 3px 4px inset;
    }
}

.link {
    margin-left: auto;
    margin-right: auto;
    color: #F3F3F3;
    font-weight: 600;
    text-decoration-line: underline;

    @media screen and (min-width: $mobile) {
        font-size: 12px;
        line-height: 1.33;
    }

    @media screen and (min-width: $tablet) {
        font-size: 14px;
        line-height: 1.28;
    }
}

.error {
    margin: 1px auto;
    font-size: 12px;
    font-weight: 400;
    color: #ff0000;
}

.hide {
    position: relative;
}

.showPassword {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 42px;
    padding: 5px 10px;
    background-color: inherit;
    color: white;

    @media screen and (max-width: $mobile) {
        left: 85%;
    }

    @media screen and (min-width: $mobile) {
        left: 90%;
    }
}