.container {
    display: flex;
    justify-content: center;
    padding-top: 137px;
    padding-bottom: 140px;

    @media screen and (min-width: $tablet){
        padding-top: 228px;
        padding-bottom: 140px;
    }

    @media screen and (min-width: $desktop){
        padding-top: 83px;
    }
}

.containerWrap {
    display: flex;
    flex-wrap: wrap;
    width: 465px;
    justify-content: center;
    text-align: center;
}

.textContainer {
    padding-top: 18px;
    width: 236px;
}

.img {
    height: 500px;
    // z-index: -1;
    // opacity: .99;
}

// .spots{
//     background-image: url(/images/PNG/Background.png), url(/images/PNG/Background2.png), url(/images/PNG/Background3.png);
//     background-position: top left, top right, top right;
//     background-repeat: no-repeat, no-repeat, no-repeat;
//     width:375px;
//     background-size: 35%, 20%, 20%;
//     z-index: 2;
// }

.text {
   color: #F3F3F3;
   font-size: 16px;
   line-height: 24px;
}