.container {
  width: 1440px;
  padding-left: 100px;
}

.title {
  color: #f3f3f3;
  font-family: Manrope;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 68px;
  padding-top: 244px;
}
.searchDrinks {
  border-radius: 200px;
  border: 1px solid rgba(243, 243, 243, 0.2);
  opacity: 0.8;
  background-color: rgba(243, 243, 243, 0.1);
  padding-left: 24px;
  padding-top: 14px;
  padding-bottom: 15px;
  color: #f3f3f3;
  font-family: Manrope;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 156%;
  width: 264px;
  margin-top: 80px;
}
