@import 'src/styles/variables';

.recipesList {
  display: flex;
  gap: 28px;

  @media screen and (max-width: ($tablet - 1px)) {
    flex-direction: column;
    margin-bottom: 40px;
  }

  @media screen and (min-width: $tablet) {
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  @media screen and (min-width: $desktop) {
    gap: 20px;
  }
}

.noResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noResaltsImg {
  width: 375px;
  height: 476px;
  @media screen and (min-width: $tablet) {
    width: 465px;
    height: 500px;
  }
}

.noResaltsText {
  color: $accent;
  font-size: 14px;
  font-weight: $medium;
  line-height: 1.29;
  text-align: center;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 1.38;
    width: 465px;
  }
}
