/* DropDownList.css */

/* Стилі для контейнера Select */
.selectContainer {
  width: 300px;
}

/* Стилі для Select компонента */
.customSelect {
  width: 100%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}
