footer nav .active {
    display: none;
}

header nav .active {
    background-color: rgba(22, 31, 55, 1);
}

footer {
    border-top: 1px solid rgba(243, 243, 243, 0.2);
}

header {
    border-bottom: 1px solid rgba(243, 243, 243, 0.2);
}