// Breakpoints
$mobile: 375px;
$tablet: 768px;
$desktop: 1440px; // 1280px if next breakpoint is specified
// $desktop-wide: 1440px;

// Colors
$accent: #f3f3f3;
$accent-faded-50: rgba($accent, 0.5);
$accent-faded-20: rgba($accent, 0.2);
$black: #010118;
$dark-blue: #161f37;
$dark-blue-faded: rgba($dark-blue, 0.5);
$slate-blue: #434d67;
$blue: #4070cd;
$blue-faded: rgba($blue, 0.5); // #4070CD80;
$light-green: #bce6d2;
$error: firebrick;

// Radius
$button-radius: 42px;
$drop-down-radius: 20px;
$field-radius: 200px;
$standard-radius: 8px;

// Font weight
$regular: 400;
$medium: 500;
$bold: 600;

// Font sizes
:root {
  --page-title: 2rem; // 32px
  --section-title: 1.75rem; //28px
  --sub-title: 1.125rem; // 18px
  --paragraph: 0.875rem; // 14px
  --input-placeholder: var(--paragraph);

  @media screen and (min-width: $tablet) {
    --page-title: 3.5rem; // 56px
    --section-title: 2.5rem; //40px
    --sub-title: 1.5rem; // 24px
    --paragraph: 1rem;
    --input-placeholder: var(--paragraph);
  }

  @media screen and (min-width: $desktop) {
    --page-title: 4rem; // 64px
    --paragraph: 1.125rem; // 18px
  }
}

$page-title: var(--page-title);
$section-title: var(--section-title);
$sub-title: var(--sub-title);
$paragraph: var(--paragraph);
$input-placeholder: var(--input-placeholder);

// image size
:root {
  --img-width: 335px;
  --img-height: 360px;
  @media screen and (min-width: $tablet) {
    --img-width: 342px;
  }
  @media screen and (min-width: $desktop) {
    --img-width: 400px;
    --img-height: 400px;
  }
}

$img-width: var(--img-width);
$img-height: var(--img-height);

// Container padding
:root {
  --container-padding: 80px 20px;

  @media screen and (min-width: $tablet) {
    --container-padding: 140px 32px;
  }
  @media screen and (min-width: $desktop) {
    --container-padding: 160px 100px 140px;
  }
}

$container-padding: var(--container-padding);

// Transitions (standard)
$transition-duration: 200ms;
$transition-timing-function: ease-out;

// HeroTitle
:root {
  --line-height-hero-title: 1.19;
  --width-hero-title: 279px;
  --pudding-top-hero-title: 128px;
  @media screen and (min-width: $tablet) {
    --line-height-hero-title: 1.07;
    --width-hero-title: 483px;
    --pudding-top-hero-title: 184px;
  }
  @media screen and (min-width: $desktop) {
    --line-height-hero-title: 1.06;
    --width-hero-title: 715px;
    --pudding-top-hero-title: 160px;
  }
}

$line-height-hero-title: var(--line-height-hero-title);
$width-hero-title: var(--width-hero-title);
$pudding-top-hero-title: var(--pudding-top-hero-title);

// HeroInfo
:root {
  --line-height-hero-info: 1.43;
  --width-hero-info: 266px;
  --pudding-top-hero-info: 16px;
  @media screen and (min-width: $tablet) {
    --line-height-hero-info: 1.33;
    --width-hero-info: 400px;
    --pudding-top-hero-info: 28px;
  }
  @media screen and (min-width: $desktop) {
    --width-hero-info: 500px;
    --pudding-top-hero-info: 40px;
  }
}

$line-height-hero-info: var(--line-height-hero-info);
$width-hero-info: var(--width-hero-info);
$pudding-top-hero-info: var(--pudding-top-hero-info);
