.logo {
    margin: 0;
}

.logoLink {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;

    @media screen and (min-width: 768px) {
        gap: 14px;
    }
}

.logoImg {
    width: 22px;
    height: 22px;
}

.logoText {
    color: $accent;
    font-weight: 600;
    font-size: 16px;

    @media screen and (min-width: 768px) {
        font-size: 18px;
    }
}

;