@import '../../../styles/variables';

.wrapper {
  font-size: $input-placeholder;
  font-weight: $regular;
  letter-spacing: -0.32px;
}

.label {
  color: rgba($accent, 0.5);

  font-size: $input-placeholder;
  font-weight: $regular;
  letter-spacing: -0.32px;

  position: absolute;
  top: 0;
  left: 0;

  transition: color $transition-duration $transition-timing-function,
    transform $transition-duration $transition-timing-function;

  .field:focus + & {
    color: $accent;
  }

  .field:not(:placeholder-shown) + & {
    // color: magenta;
    visibility: hidden;
  }
}

.error {
  color: $error;
  margin-top: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
}

// ###############################

.fakeFieldWrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  // align-items: flex-start;
  align-items: baseline;

  height: calc($input-placeholder + $paragraph);
  padding-bottom: 0;
  border: none;
  border-bottom: 1px solid rgba($accent, 0.4);

  color: $accent-faded-50;
  // background-color: blueviolet;

  transition: color $transition-duration $transition-timing-function,
    transform $transition-duration $transition-timing-function,
    border-color $transition-duration $transition-timing-function;

  &:focus-within {
    outline: none;
    outline-offset: 1px;
    border-color: $accent;
    color: $accent;
  }
}

.fakeFieldLabel {
  color: inherit;

  font-size: $input-placeholder;
  font-weight: $regular;
  letter-spacing: -0.32px;

  transition: color $transition-duration $transition-timing-function,
    transform $transition-duration $transition-timing-function;
}
