@import '../../../styles/variables';

.heading {
  color: $accent;
  font-size: $page-title;
}

.large {
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 60px;
  }
}

.small {
  margin-bottom: 16px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 28px;
  }
}

.none {
  margin-bottom: 0;
}
