@import '../../styles/variables';

.Navigation {
    width: 103px;
    height: 259px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px
}

.NavigationLink {
    padding: 8px 16px;
    border-radius: 40px;
    border: 1px solid rgba(243, 243, 243, 0.2);
    color: $accent;
    font-weight: $medium;
    font-size: 14px;
}

;