@import '../../styles/variables';

.Navigation {
    display: flex;
    justify-content: center;
    gap: 30px;

    @media screen and (max-width: 1199px) {
        display: none;
    }
}

.NavigationLink {
    padding: 8px 16px;
    border-radius: 40px;
    border: 1px solid rgba(243, 243, 243, 0.2);
    color: $accent;
    font-weight: $medium;
    font-size: 14px;
}

;