.conteiner {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-size: contain;
    align-items: center;
    background-position: right center;
    background-repeat: no-repeat;

    @media screen and (min-width: $mobile) {
        background-image: url(/startBgTablet.jpg);
    }

    @media screen and (min-width: $tablet) {
        background-image: url(/startBgTablet.jpg);
    }

    @media screen and (min-width: $desktop) {
        background-image: url(/startBg.jpg);
    }
}

.welcome {
    @media screen and (min-width: $mobile) {
        padding: 304px 20px 304px 20px;
        align-items: center;
    }

    @media screen and (min-width: $tablet) {
        padding: 400px 0 400px 64px;
    }

    @media screen and (min-width: $desktop) {
        padding: 273px 152px 273px 100px;
    }


}

.title {
    font-weight: 600;
    color: #FAFAFA;

    @media screen and (min-width: $mobile) {
        font-size: 28px;
        line-height: 1.14;
        letter-spacing: -0.56px;
    }

    @media screen and (min-width: $tablet) {
        font-size: 40px;
        line-height: 1.1;
        letter-spacing: -0.8px;
    }
}

.description {
    margin-top: 14px;
    margin-bottom: 40px;

    color: #FAFAFA;
    font-weight: 400;


    @media screen and (min-width: $mobile) {
        width: 319px;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.28px;
    }

    @media screen and (min-width: $tablet) {
        width: 470px;
        margin-top: 14px;
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: -0.36px;
    }

    @media screen and (min-width: $desktop) {
        width: 485px;
    }
}

.btnConteiner {
    display: flex;
    align-items: center;
    gap: 14px;
}

.btn {
    display: inline-block;
    border: 1px solid #f3f3f333;
    transition: background-color 0.5s ease-in-out 0s, color 0.5s ease-in-out 0s;

    font-weight: 600;
    line-height: 1.28;

    border-radius: $button-radius;

    color: $accent;

    &:hover,
    &:focus {
        color: $dark-blue;
        background-color: $accent;
    }

    &:active {
        background-color: $slate-blue;
    }

    &:disabled {
        color: $accent-faded-20;
        background-color: $dark-blue-faded;
    }

    @media screen and (min-width: $mobile) {
        font-size: 14px;
        padding: 14px 40px;
    }

    @media screen and (min-width: $tablet) {
        font-size: 16px;
        padding: 18px 44px;
    }
}