.img {
    height: 500px;
    @media screen and (min-width: $tablet){
        height: 476px;
    }
}

.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  
.thumb {
    position: relative;
    overflow: hidden;
}

.thumb > .label {
    display:flex;
    gap:100px;
    position: absolute;
    top:19%;
    right: 14%;
    font-size: 120px;
    font-weight: bold;
    color: rgba(243, 243, 243, 10%);

    @media screen and (min-width: $tablet){
        gap:120px;
        font-size: 150px;
        top:16%;
        right: 4%;
    }
}