.img {
    height: 476px;
    @media screen and (min-width: $tablet){
        height: 517px;
    }
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 137px;
    padding-bottom: 80px;
    margin: 0 auto;

    @media screen and (min-width: $tablet){
        padding-top: 191px;
        padding-bottom: 140px;
    }

    @media screen and (min-width: $desktop){
        padding-top: 83px;
    }
  }
  
.thumb {
    position: relative;
    overflow: hidden;
}

.thumb > .label {
    display:flex;
    gap:100px;
    position: absolute;
    top:27%;
    right: 17%;
    font-size: 120px;
    font-weight: bold;
    color: rgba(243, 243, 243, 10%);

    @media screen and (min-width: $tablet){
        gap:120px;
        font-size: 150px;
    }
}