@import '../../../styles/variables';

.item {
  display: flex;
  align-items: baseline;
  // justify-content: space-between;

  transition: color $transition-duration $transition-timing-function,
    border-color $transition-duration $transition-timing-function;
}

.inputsWrapper {
  display: flex;
  // align-items: center;
  gap: 14px;

  width: 100%;

  @media screen and (min-width: $mobile) and (max-width: ($desktop - 1)) {
    max-width: 496px;
  }
}

// .label {
//   background-color: transparent;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   gap: 4px;
// }

.removeButton {
  background-color: transparent;
  border: none;
  color: $accent;
  // background-color: red;
  transform: translateY(0.2rem);

  &:disabled {
    color: rgba($accent, 0.3);
  }
}

.error {
  color: $error;
  margin-top: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
}
