@import 'src/styles/variables';

.item {
  display: flex;
  align-items: baseline;
  gap: 8px;
  justify-content: space-between;

  transition: color $transition-duration $transition-timing-function,
    border-color $transition-duration $transition-timing-function;

  width: 100%;
}

.inputs {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  width: 100%;

  @media screen and (max-width: calc($tablet - 1px)) {
    flex-wrap: wrap;
    row-gap: 10px;
  }
}

.title {
  @media screen and (max-width: calc($tablet - 1px)) {
    width: 90%;
  }

  @media screen and (min-width: $tablet) {
    min-width: 18em;
  }
}

.quantity,
.unit {
  @media screen and (max-width: calc($tablet - 1px)) {
    width: calc(45% - 7px);
  }

  width: 8em;
}

// .label {
//   background-color: transparent;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   gap: 4px;
// }

.removeButton {
  background-color: transparent;
  border: none;
  color: $accent;
  transform: translateY(25%);
  transition: color 100ms linear;

  &:hover,
  &:focus-visible {
    color: rgba($accent, 0.7);
  }

  &:disabled {
    color: rgba($accent, 0.3);
  }

  &:active {
    color: dimgray;
  }
}

.error {
  color: $error;
  margin-top: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
}
