.header {
    position: relative;


}

.headerContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 28px 100px;
}

.headerUnderline {
    position: absolute;
    width: 100vw;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgba(243, 243, 243, 0.2);
}