@import '../../styles/variables';

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
  color: $accent;
}

input,
textarea,
select {
  background-color: $dark-blue;
  border: none;
}

textarea {
  resize: none;
}

.field::placeholder {
  color: #f3f3f3;
  font-size: $input-placeholder;
  font-weight: $regular;
  letter-spacing: -0.32px;
}

.dropdown {
  // margin-bottom: 10px;
  // margin-top: 10px;

  background: $dark-blue;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: $drop-down-radius;
}

.counterWrapper {
  display: flex;
  gap: 5px;
  align-items: start;
}

.groupWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
}

.itemWrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.ingredientsItem {
  display: flex;
  gap: 10px;
  // align-items: start;
}

.ingredient {
  flex-grow: 1;
}

.quantity {
}

.ingredientLabel {
  display: flex;
  flex-direction: column;

  gap: 4px;
  // justify-content: space-between;
}

.error {
  color: $error;
}
