.footerContainer {
    padding: 80px 100px 24px 100px;
}

.footerContentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 80px;
}

.footerFollowUs {
    margin: 0;
}

.footerNawigation {
    margin: 0;
}

.footerSupscribe {
    margin-left: auto;
    margin-right: 0px;
}

.footerBasementContainer {
    color: $accent;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerPolicyContainer {
    display: flex;
    flex-direction: row;
    gap: 18px;
}