.SubscribeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 0;

    @media screen and (min-width: 748px) {
        width: 309px;
    }
}

.SubscribeFormText {
    text-align: center;
    color: $accent;
    font-weight: 400;
    font-size: 18px;
}

.SubscribeFormInput {
    color: $accent;
    font-weight: 400;
    font-size: 14px;
    height: 56px;
    border-style: none;
    border: 1px solid rgba(243, 243, 243, 0.50);
    border-radius: 40px;
    background-color: transparent;
    padding: 14px 24px;
    outline: none;

    &:focus {
        border: 1px solid rgba(243, 243, 243, 1);
    }

    @media screen and (max-width: 747px) {
        width: calc(100% - 28px);
        text-align: center;
    }

    @media screen and (min-width: 748px) {
        width: 304px;
    }
}

.SubscribeFormSubmit {
    color: $accent;
    font-weight: 500;
    font-size: 17px;
    width: 309px;
    height: 56px;
    border-radius: 40px;
    border-style: none;
    border: 1px solid rgba(243, 243, 243, 1);
    border-radius: 40px;
    background-color: transparent;

    &:disabled {
        border: 1px solid rgba(243, 243, 243, 0.2);
        color: rgba(243, 243, 243, 0.2);
    }

    @media screen and (max-width: 747px) {
        width: calc(100% - 28px);
    }

    @media screen and (min-width: 748px) {
        width: 304px;
    }
}