@import 'src/styles/variables';

.fieldWrapper {
  position: relative;
}

.field {
  width: 100%;
  height: calc($input-placeholder + $paragraph);

  padding-bottom: 0;
  border: none;
  border-color: rgba($accent, 0.5);
  border-bottom: 1px solid;

  background-color: transparent;

  &::placeholder {
    color: rgba($accent, 0.5);
    font-size: $input-placeholder;
    font-weight: $regular;
    letter-spacing: -0.32px;

    color: transparent;
  }

  &:focus {
    outline: none;
    border-color: $accent;
  }

  // &:required:invalid {
  //   border-color: maroon;
  // }

  &.fieldError {
    border-color: rgba(firebrick, 0.4);
  }
}

.label {
  color: rgba($accent, 0.5);

  font-size: $input-placeholder;
  font-weight: $regular;
  letter-spacing: -0.32px;

  position: absolute;
  top: 0;
  left: 0;

  transition: color $transition-duration $transition-timing-function,
    transform $transition-duration $transition-timing-function;

  // .field:focus + & {
  //   color: $accent;
  // }

  .field:not(:placeholder-shown) + & {
    visibility: hidden;
  }

  // .field:required + &::after {
  //   content: '*';
  // }
}

.error {
  color: $error;
  margin-top: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
}
