body {
  color: #f3f3f3;
  background-color: #0a0a11;
}

.card {
  text-align: center;

  padding: 2em;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: column;
}
