@import 'src/styles/variables';

.fieldWrapper {
  position: relative;
}

.label {
  color: rgba($accent, 0.5);

  font-size: $input-placeholder;
  font-weight: $regular;
  letter-spacing: -0.32px;

  position: absolute;
  top: 0;
  left: 0;

  transition: color $transition-duration $transition-timing-function,
    transform $transition-duration $transition-timing-function;

  .field:focus + & {
    color: $accent;
  }

  .field:not(:placeholder-shown) + & {
    visibility: hidden;
  }

  // .field:required + &::after {
  //   content: '*';
  // }
}

.field {
  padding: 16px 18px;
  border-radius: 14px;
  border: 1px solid rgba($accent, 0.5);

  background-color: transparent;

  width: 100%;

  &::placeholder {
    color: rgba($accent, 0.5);
    font-size: $input-placeholder;
    font-weight: $regular;
    letter-spacing: -0.32px;
  }

  &::-moz-placeholder {
    color: $accent;
  }

  &:focus {
    outline: none;
    border-color: $accent;
  }

  // &:required:invalid {
  //   border-color: maroon;
  // }

  &.fieldError {
    border-color: rgba(firebrick, 0.4);
  }
}

textarea {
  resize: none;
}

.error {
  color: $error;
  margin-top: 4px;
  margin-left: 8px;
  font-size: 12px;
  line-height: calc(14 / 12);
}
