@import '../../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: $accent;
  padding: 40px;

  @media screen and (min-width: 500px) {
    width: 500px;
    height: 500px;
    justify-content: flex-end;
  }

  border-radius: 30px;
  // background: linear-gradient(
  //     0deg,
  //     rgba(10, 10, 17, 0.4) 0%,
  //     rgba(10, 10, 17, 0.4) 100%
  //   ),
  //   url('/images/jpg/motivation.jpg'),
  //   lightgray -19.635px -143.546px / 106.127% 158.996% no-repeat;

  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;

  @media screen and (min-width: $tablet) {
    width: 500px;
    height: 500px;
    background-position: 0 -20vh;
  }

  // background-image: url('/images/modal/modal_bg1.jpg');
  background-repeat: no-repeat;
  overflow: hidden;
}

.blurred {
  width: 90vw;
  height: 80vw;
  padding: 28px 14px 14px;
  font-size: 26px;

  @media screen and (min-width: $mobile) {
    width: 299px;
    height: 269px;
    padding: 32px 19px 14px;
    font-size: 28px;
  }

  @media screen and (min-width: $tablet) {
    width: 268px;
    height: 242px;
  }

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;

  background-color: rgba(217, 217, 217, 0.14);
  backdrop-filter: blur(27.976364135742188px);

  mask-image: url('/images/PNG/motivation.png'); // DO NOT touch!
  mask-size: contain;
  mask-repeat: no-repeat;

  color: #f3f3f3;
  text-align: center;
  font-weight: 500;
  line-height: 114.286%;
  letter-spacing: -0.56px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.closeButton {
  color: $accent;
  padding: 10px;
}
