@import 'src/styles/variables';

.button__wrapper {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;

  width: 295px;
  padding: 14px 0px;
  gap: 15px;
  margin-bottom: 80px;
  color: white;

  @media screen and (min-width: $tablet) {
    width: 436px;
    padding: 14px 24px;
    gap: 25px;
  }
}

.button_number__wrapper {
  display: flex;
  gap: 11px;
}

.paginator_Btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 27px;
  height: 27px;
  font-size: 12px;
  font-weight: 500;

  color: $accent;
  background-color: transparent;
  border: none;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: $blue-faded;

    &:disabled {
      cursor: not-allowed;
      background-color: transparent;
    }
  }

  &:active {
    background-color: $dark-blue;
  }
}

.active {
  background-color: $dark-blue;
}

.svg_Btn {
  opacity: 0.3;
}
