.userMenu {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
}

.userMenuImg {
    border-radius: 50%;
    color: rgba(243, 243, 243, 1);
    fill: aliceblue;
}

.userMenuName {
    font-weight: 400;
    font-size: 16px;
    color: rgba(243, 243, 243, 1);
}